FixScript_09.12.2014/Service References/ServiceReference1/ServiceFTS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceFTS" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4784/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4784/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4784/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Devir.DMS.FulltextSearchEngine" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ServiceFTS_SaveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocument" />
  </wsdl:message>
  <wsdl:message name="ServiceFTS_SaveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ServiceFTS_SearchDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDocuments" />
  </wsdl:message>
  <wsdl:message name="ServiceFTS_SearchDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDocumentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceFTS">
    <wsdl:operation name="SaveDocument">
      <wsdl:input wsam:Action="http://tempuri.org/ServiceFTS/SaveDocument" message="tns:ServiceFTS_SaveDocument_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ServiceFTS/SaveDocumentResponse" message="tns:ServiceFTS_SaveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchDocuments">
      <wsdl:input wsam:Action="http://tempuri.org/ServiceFTS/SearchDocuments" message="tns:ServiceFTS_SearchDocuments_InputMessage" />
      <wsdl:output wsam:Action="http://tempuri.org/ServiceFTS/SearchDocumentsResponse" message="tns:ServiceFTS_SearchDocuments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ServiceFTS" type="tns:ServiceFTS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveDocument">
      <soap:operation soapAction="http://tempuri.org/ServiceFTS/SaveDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDocuments">
      <soap:operation soapAction="http://tempuri.org/ServiceFTS/SearchDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceFTS">
    <wsdl:port name="BasicHttpBinding_ServiceFTS" binding="tns:BasicHttpBinding_ServiceFTS">
      <soap:address location="http://localhost:4784/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>