Devir.DMS.OfficeToPDFConverter/Service References/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:4446/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:4446/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:4446/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Devir.DMS.FulltextSearchEngine" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISearchEngine_SaveDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocument" />
  </wsdl:message>
  <wsdl:message name="ISearchEngine_SaveDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchEngine_SearchDocuments_InputMessage">
    <wsdl:part name="parameters" element="tns:SearchDocuments" />
  </wsdl:message>
  <wsdl:message name="ISearchEngine_SearchDocuments_OutputMessage">
    <wsdl:part name="parameters" element="tns:SearchDocumentsResponse" />
  </wsdl:message>
  <wsdl:message name="ISearchEngine_GetDataFromDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromDocument" />
  </wsdl:message>
  <wsdl:message name="ISearchEngine_GetDataFromDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataFromDocumentResponse" />
  </wsdl:message>
  <wsdl:portType name="ISearchEngine">
    <wsdl:operation name="SaveDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchEngine/SaveDocument" message="tns:ISearchEngine_SaveDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchEngine/SaveDocumentResponse" message="tns:ISearchEngine_SaveDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SearchDocuments">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchEngine/SearchDocuments" message="tns:ISearchEngine_SearchDocuments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchEngine/SearchDocumentsResponse" message="tns:ISearchEngine_SearchDocuments_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataFromDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/ISearchEngine/GetDataFromDocument" message="tns:ISearchEngine_GetDataFromDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISearchEngine/GetDataFromDocumentResponse" message="tns:ISearchEngine_GetDataFromDocument_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISearchEngine" type="tns:ISearchEngine">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveDocument">
      <soap:operation soapAction="http://tempuri.org/ISearchEngine/SaveDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchDocuments">
      <soap:operation soapAction="http://tempuri.org/ISearchEngine/SearchDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataFromDocument">
      <soap:operation soapAction="http://tempuri.org/ISearchEngine/GetDataFromDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_ISearchEngine" binding="tns:BasicHttpBinding_ISearchEngine">
      <soap:address location="http://localhost:4446/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>