Devir.DMS.TestMongoConnection/Service References/ServiceReference1/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Devir.DMS.FulltextSearchEngine" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Devir.DMS.FulltextSearchEngine" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfServiceFTS.FoundDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceFTS.FoundDocuments" nillable="true" type="tns:ServiceFTS.FoundDocuments" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceFTS.FoundDocuments" nillable="true" type="tns:ArrayOfServiceFTS.FoundDocuments" />
  <xs:complexType name="ServiceFTS.FoundDocuments">
    <xs:sequence>
      <xs:element minOccurs="0" name="DocId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Score" type="xs:float" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceFTS.FoundDocuments" nillable="true" type="tns:ServiceFTS.FoundDocuments" />
</xs:schema>